BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 80
AlignAfterOpenBracket: DontAlign
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BreakBeforeBinaryOperators: NonAssignment
SortIncludes: Never
